.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #307570;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
    transform: scale(1.05);
  }
  
  legend {
    max-width: 115px;
    margin: 0 auto;
    padding: 0 13px;
  }
  
  fieldset {
    border-radius: 8px;
  }